# This workflow will install Python dependencies, run tests and lint with a single version of Python,
# and check TypeScript compilation in the frontend
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python
name: CI Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  backend:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12"
    
    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
        # Install a specific version of uv.
        version: "0.8.16"
    
    - name: Install the project
      run: uv sync --locked --all-extras --dev
      working-directory: ./back_end

    - name: Check onion architecture
      run: uv run python -m src.onion_enforcer
      working-directory: ./back_end

    - name: Lint with ruff
      run: uv run ruff check src --output-format=full
      working-directory: ./back_end
    
    - name: Test with pytest
      run: uv run pytest tests
      working-directory: ./back_end

  frontend:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: './front_end/package-lock.json'

    - name: Install dependencies
      run: npm ci
      working-directory: ./front_end

    - name: Check TypeScript compilation
      run: npm run build
      working-directory: ./front_end

    - name: Lint TypeScript
      run: npm run lint
      working-directory: ./front_end